main {
  flex: 1;  /* Ocupa todo espaço disponivel dele */
}

main ul {
  display: grid; /* ajudar controlar o posicionamento dos itens dentro*/
  grid-template-columns: repeat(2, 1fr); /* ou seja, duas colunas com o tamanho 1fr */
  gap: 20px;
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}

